body {

    padding: 0;

    margin: 0;

    background-image: url("./evening-sky-8338559_1280.jpg");
    background-size: 100%;

}

#login {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {

    backdrop-filter: blur(3px);
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    width:280px;
}

.card-header {
    text-align: center;
    color: #fff;
}

.card-header::after {

    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {

    color: #fff;
    font-size: 16px;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 5px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.card-footer .submit{


    width: 70%;

    height: 40px;

    background-color: #e47932;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;
    border-radius: 15px;

}

.card-footer a{

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #fff;

    text-decoration: none;

}

.card-footer a:hover{
    color:#690458;
}